doctype html

html
  header
    title Something
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js')
    script(src='javascripts/quotes.js')
  body(ng-app='quotesApp' ng-controller="QuotesCtrl")

    block content

    footer
        .footer Copyright 2015, who cares!