extends layout

block content
  //- script
    :coffee-script
      //- alert 'Alert!'

  style
    :less
      @g: pink;
      body { color: @g; }

  h1 this is a test
  p welcome to #{title}

  :markdown
      #header

  - for (var x = 0; x < repeat; x++)
    div Hello #{x}